<div id="<%= dom_id invoice %>">
  <p>
    <strong>Customer name:</strong>
    <%= invoice.customer_name %>
  </p>

  <p>
    <strong>Customer email:</strong>
    <%= invoice.customer_email %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= invoice.status %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= invoice.discount %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= invoice.total_amount %>
  </p>

</div>
